<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="style.css"> <!-- EXTERNAL CSS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- VUE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous"></script>
    <title>Boolzapp</title>
</head>

<body>
<div id="app" class="container">
    
    <div class="left">
        <div class="header-left">
            <div class="header-left-logo">
                <img :src="'img/avatar'+ user.avatar +'.jpg'" :alt="user.name">
                <span>{{ user.name }}</span>
            </div>
            <div class="header-left-icons">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="left-disclaimer">
            <div class="left-disclaimer-logo">
                <i class="fa fa-bell-slash" aria-hidden="true"></i>
            </div>
            <div class="left-disclaimer-text">
                <h3>Ricevi notifiche di nuovi messaggi</h3>
                <a href="#">Attiva notifiche desktop</a>
            </div>
        </div>
        <div class="left-searchbar">
            <label class="search-label" for="search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
            <input id="contacts-filter" class="left-searchbar-input" placeholder="Cerca o inizia una nuova chat"
                   name="search">
        </div>
        <div class="contacts">

             
            <template v-for="(contact, index) in contacts">
                
                <div class="contact"
                :class="{'active' : contactActive === index}"
                @click="contactActive = index"
                v-if="contact.visible">
                    <div class="contact-logo">
                        <img :src="'img/avatar'+ contact.avatar +'.jpg'" :alt="contact.name">
                    </div>
                    <div class="contact-info">
                        <h3>
                            <span class="contact-name">{{ contact.name }}</span>
                            <span class="time f-right"></span>
                        </h3>
                        <small></small>
                    </div>
                </div>
                
            </template>


        </div>
    </div>
    
    
    <div class="right">
        <div class="header-right">
            <div class="header-right-logo">
                <img :src="`img/avatar${contacts[contactActive].avatar}.jpg`" :alt="contacts[contactActive].name">
                <h3><span id="header-right-contact-name">{{ contacts[contactActive].name }}</span> <br>
                  <small class="time">Ultimo accesso oggi alle </small></h3>
            </div>
            <div class="header-right-icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="right-messages-container">
            <div class="right-messages">
                
                 <div
                v-for="message in contacts[contactActive].messages"
                 class="message"
                 :class="message.status">
                     <span class="message-text">{{ message.text }}</span> 
                     <span class="message-time"> {{ message.date }}</span>
                    <i class="fa fa-chevron-down f-right message-options"></i>
                </div>


            </div>
        </div>
        <div class="right-footer">
            <div class="right-footer-icon f-left">
                <i class="far fa-smile"></i>
            </div>
            <input class="new-message-inputs" placeholder="Scrivi un messaggio">
            <div class="right-footer-icon f-right">
                <i class="fa fa-microphone" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    
</div>
 
<script src="script.js"></script> <!-- EXTERNAL JAVASCRIPT -->
</body>

</html>